head
    meta(charset='UTF-8')
    title= title
    meta(name='viewport', content='initial-scale=1.0, maximum-scale=1.0')
    link(href='icon.ico', rel='icon' type='image/x-icon')
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.3.4/dist/leaflet.css')
    link(href='css/styles.css', rel='stylesheet')
    script(src='https://unpkg.com/leaflet@1.3.4/dist/leaflet.js')
    script(src='https://cdn.jsdelivr.net/npm/corslite@0.0.7/corslite.js')
    script(src='js/server-render-map.js')